#container_cat
{
  text-align: center;
}

#tile1, #tile2, #tile3
{
  width: 300px;
  height: 350px;
  border-radius: 20px;
  text-align: center;


  display:inline-block;
  vertical-align:middle;

}

#tile1
{
  float:left;
}

#tile2
{
  margin-right:5%;
  margin-left: 5%;

  margin-bottom: 10%;
}

#tile3
{
  float: right;
  margin-bottom: 10%;

  margin-right: 8%;
}

#sub{
    margin-top:5%;
}

.list-group:hover{
    cursor:pointer;
}
