<div id="body_content">

  <h1 id="idCatGest"> Gestion des épreuves </h1>
  <div class="container">
    <div class="container_cat">
        <div id="tile1" class="tile">
            <h3> Lancer une épreuve </h3>
            <form #formEpreuve="ngForm" (ngSubmit) = "onSubmitEpreuve(formEpreuve)">
                <h5> QCM </h5>
                <select [(ngModel)]="idQcm" name="idQcm" multiple>
                    <option *ngFor="let qcm of qcmList" [value]="qcm.idQcm">{{qcm.name}}</option>
                </select>

                <h5> Classe </h5>
                <select [(ngModel)]="idClass" name="Classe" multiple>
                    <option *ngFor="let classe of classesList" [value]="classe.idClasse">{{classe.name}}</option>
                </select>

                <h5> Durée </h5>
                <input [(ngModel)]="duree" name="duree" type="number" required>

                <input type="submit" id="sub" value="Lancer l'épreuve"/>
            </form>
        </div>

        <div id="tile2" class="tile">
            <h3>Epreuves en cours</h3>
            <div class="row" id="rowQcm">
                <div class="col-xs-12">
                  <ul class="list-group">
                    <app-epreuves (click) = "openModal(epreuve.QCM, epreuve.CLASS, this.toEnd(epreuve.dateEnd), epreuve.idExam)"
                                  *ngFor="let epreuve of epreuvesNowList"
                                  [qcm] = "epreuve.QCM"
                                  [classe] = "epreuve.CLASS"
                                  [date] = "this.toEnd(epreuve.dateEnd)"></app-epreuves>
                  </ul>
                </div>
            </div>
        </div>

        <div id="tile3" class="tile">
            <h3>Epreuves finies</h3>
            <div class="row" id="rowQcm">
                <div class="col-xs-12">
                  <ul class="list-group">
                    <app-epreuves (click) = "openModal(epreuve.QCM, epreuve.CLASS, this.toDate(epreuve.dateEnd), epreuve.idExam)"
                                  *ngFor="let epreuve of epreuvesPastList"
                                  [qcm] = "epreuve.QCM"
                                  [classe] = "epreuve.CLASS"
                                  [date] = "this.toDate(epreuve.dateEnd)"></app-epreuves>
                  </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
