<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-default" style="background-color:#FC5757">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:#f8f8f8">QCM</a>
    </div>


  </div><!-- /.container -->
</nav><!-- /.navbar -->
<router-outlet></router-outlet>
