<div id="body_content">
  <h1 id="idCatGest"> Gestion des classes </h1>
  <div class="container">
    <div class="container_cat">
      <div class="row" id="rowQcm">
        <div class="col-xs-12">
          <ul class="list-group">
            <app-classe *ngFor="let classe of classesList" [name]="classe.name" [idClasse]="classe.idClasse">
            </app-classe>
          </ul>
        </div>
      </div>
    </div>
    <div id="addClassDiv">
      <button id="btnPlus" type="button" class="btn btn-default" (click)="addClasse()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      <div class="group">
        <input [(ngModel)]="nameClasse" name="nameClasse" type="text" required>
        <span class="highlight"></span>
        <label>Nom de la classe</label>
      </div>
    </div>

  </div>
</div>