#idCatGest{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }

  .btn{
    display: inline-block;
    text-decoration: none;
    color: rgba(152, 152, 152, 0.43);/*IconColor*/
    width: 40px;
    height: 40px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}
.btn .fa {
    line-height: 80px;
}
.btn:active {/*onClick*/
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}






.group 			  {
  position:relative;
}

input, textarea 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
  border-radius: 5px;
  min-width: 171px;

}
input:focus, textarea:focus{
  outline:none;
  border-radius: 5px;
}

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label		{
  top:-20px;
  font-size:14px;
  color:#7E7E7E;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight, textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

#addClassDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

#addClassDiv > * {
  margin-left: 5px;
  margin-right: 5px;
}

#btnPlus {
  position: relative;
  outline: none;

}
#btnPlus span {
    position: absolute;
    font-size: 20px;
    margin: auto;
    left: 2px;
    right: 0;
    top: 8px;
}
