h1{
  padding-top: 25px;
  text-align: center;
}

#body_content
{
  background-color: #f8f8f8;
  margin:7%;
  margin-top: 3%;
  border-color: #d7d7d7;
  border:solid 1px;
  border-radius: 20px;
}

#container_cat
{
  text-align: center;

}

#tile1, #tile2, #tile3
{
  width: 300px;
  height: 350px;
  border-radius: 20px;
  text-align: center;


  display:inline-block;
  vertical-align:middle;

}

#tile1
{
  float:left;
  margin-left:5%;
}

#tile2
{
  margin-right:5%;
  margin-left: 5%;

  margin-bottom: 10%;
}

#tile3
{
  margin-right:5%;
  float: right;
  margin-bottom: 10%;
}
