
<div id="body_content">

  <h1> Bienvenue</h1>
  <div class="container">
    <div class="container_cat">
      <div id="tile1" class="tile">
        <app-professor-task  (click) = "goTo('professor/gestionQCM')"
                             profTaskName="Gestion des QCM"
                             profTaskDesc="Ici, vous pouvez gérer tout ce qui est en lien avec les QCM"></app-professor-task>
      </div>
      <div id="tile2" class="tile">
        <app-professor-task (click) = "goTo('professor/epreuves')"
                            profTaskName="Gestion des épreuves"
                            profTaskDesc="Ici, vous pouvez lancer une épreuve et gérer tout ce qui est en lien avec les épreuves en cours ou terminées."></app-professor-task>
      </div>
      <div id="tile3" class="tile">
        <app-professor-task (click) = "goTo('professor/gestionEleves')"
                            profTaskName="Gestion des élèves"
                            profTaskDesc="Ici, vous pouvez gérer tout ce qui est en lien avec les élèves"></app-professor-task>
      </div>
    </div>

  </div>
</div>
