
#rowQcm
{
  text-align: center;
  margin-left: 20%;
  width: 60%;
  margin-right: 20%;
  height: 320px;
  overflow: scroll;
  overflow-x: hidden;
}

#addClassDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#addClassDiv > * {
  margin-left: 5px;
  margin-right: 5px;
}

#btnPlus, #btnBack {
  position: relative;
  outline: none;
}
#btnPlus span, #btnBack span {
    position: absolute;
    font-size: 20px;
    margin: auto;
    left: 2px;
    right: 0;
    top: 8px;
}


.btn{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);/*IconColor*/
  width: 40px;
  height: 40px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}
.btn .fa {
    line-height: 80px;
}
.btn:active {/*onClick*/
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}
