<div id="body_content">

  <h1 id="idCatGest"> Gestion des QCM </h1>
  <div class="container">
    <div class="container_cat">
      <div class="row" id="rowQcm">
          <div class="col-xs-12">
            <ul class="list-group">
                <app-qcm *ngFor="let qcm of qcmList"
                        [name] = "qcm.name"></app-qcm>
            </ul>
          </div>
        </div>
        <div id="addClassDiv">
          <button id="btnPlus" type="button" class="btn btn-default" (click)="goToDetailsQCM()">
              <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
    </div>
  </div>
</div>
