<li class="list-group-item">
  <h4>
    {{name}}
  </h4>
  <button type="button" class="btn btn-default btn-lg" id='btnLeft' (click) = "removeClasse(idClasse)">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      Effacer
  </button>
  <button type="button" class="btn btn-default btn-lg" id='btnRight' (click) = "addElevesInClasse(idClasse)" >
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Ajouter des élèves
  </button>
</li>
