<div class="container">
	<section id="content">
		<form #formConnexion="ngForm" (ngSubmit) = "onSubmitConnexion(formConnexion)">
			<h1>Connexion</h1>
      <div class="group">
        <input [(ngModel)]="identifiant" name="identifiant" type="text" required>
        <span class="highlight"></span>
        <label>Identifiant</label>
      </div>
			<!-- <div>
				<input type="password" placeholder="Mot de Passe" required="" id="password" />
			</div> -->
      <div class="group">
        <input [(ngModel)]="password" name="password" type="password" required>
        <span class="highlight"></span>
        <label>Mot de Passe</label>
      </div>
			<div>
				<input type="submit" value="Se Connecter"/>
				<a href="#">Mot de passe oublié ?</a>
				<a routerLink='../inscription'>S'inscrire</a>
			</div>
		</form>

	</section>
</div>
