<li class="list-group-item">
    <h4>
        {{nom}} {{prenom}}
    </h4>
    <button type="button" class="btn btn-default btn-lg" id='btnLeft' (click)="addEleve(idClasse,idUser)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Ajouter
    </button>
</li>