.containerRC{
  display: inline;
  width: 100%;
}

.reponseContainer, .choiceContainer{
  display: inline;
  width: 100%;
}
.reponse, .choice {
  display: inherit;
  margin:1%;
}

.group{
  position:relative;
}


.qcmElement{
  margin-bottom: 5%;
}
