<div class="qcmElement">
  <div class="group groupQuestion">
    <label>{{enonce}}</label>
  </div>
  <div class='.containerRC'>
    <div class="reponseContainer">
      <label class ="reponse">{{choix1}}</label>
        <input class ="choice" type="checkbox">
      <label class ="reponse">{{choix2}}</label>
        <input class ="choice" type="checkbox">
      <label class ="reponse">{{choix3}}</label>
        <input class ="choice" type="checkbox">
    </div>
  </div>
</div>
