

<div id="body_content">
  <h1 id="idCatGest"> Bienvenue </h1>
  <div class="container">
    <div class="container_cat">
      <div class="row" id="rowQcm">
        <div class="col-xs-12">
          <ul class="list-group">
            <app-eleve-task (click) = "openModal(qcm.QCM, this.toDate(qcm.dateEnd), qcm.idExam, qcm.idUser)"
                            *ngFor="let qcm of QcmList"
                            [name]="qcm.QCM"
                            [desc]="qcm.DESCR"
                            [date]="this.toEnd(qcm.dateEnd)"></app-eleve-task>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
