/* You can add global styles to this file, and also import other style files */
/* body{
  background-image: url("https://ae01.alicdn.com/kf/HTB1gH2qRXXXXXXtXVXXq6xXFXXXy/Fondo-de-tela-de-decoraci-n-de-fondo-de-estudiante-HUAYI-fondo-de-la-foto-de.jpg");
} */

#idCatGest{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

body
{
  height: 100%;
  font-family: 'Indie Flower', cursive;
  font-family: 'Give You Glory', cursive;
  font-family: 'The Girl Next Door', cursive;
  font-family: 'Gloria Hallelujah', cursive;
}

#body_content
{
  background-color: #f8f8f8;
  margin-top: 3%;
  border-color: #d7d7d7;
  border:solid 1px;
  border-radius: 20px;
  height: 560.20px;
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 7%;

}

#container_cat
{
  text-align: center;
}

#rowQcm
{
  text-align: center;
  margin-left: 20%;
  width: 60%;
  margin-right: 20%;
  height: 320px;
  overflow: scroll;
  overflow-x: hidden;
}
