<div id="body_content">
  <h1 id="idCatGest"> Création QCM </h1>
  <div class="container">
    <div class="container_cat">
      <form #formConnexion="ngForm" style="margin-top:2%;">
        <div id="content-left">
          <div class="group">
            <input [(ngModel)] = "nameQcm" class="nameDescLabel" name="name" type="text" required>
            <span class="highlight"></span>
            <label>Nom</label>
          </div>

          <div class="group">
            <textarea  [(ngModel)] = "descQcm" class="nameDescLabel" name="desc" type="text-area" required></textarea>
            <span class="highlight"></span>
            <label>Description</label>
          </div>

    			<div>
    				<input type="button" value="Envoyer" (click)="submitQcm()"/>
    			</div>
        </div>
        <div id="content-right">
          <div [formGroup]="orderForm" class="creationQCM">
            <div formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i = index;">
                <div [formGroupName]="i" class="qcmElement">
                  <div class="group groupQuestion">
                    <input class="questionLabel" type="text" formControlName="enonce" placeholder="Question">
                    <span class="highlight"></span>
                    <label>Question</label>
                  </div>
                  <div class='.containerRC'>
                    <div class="reponseContainer">
                      <input class ="reponse" formControlName="choix1" type="text" placeholder="choix 1">
                      <input class ="reponse" formControlName="choix2" type="text" placeholder="choix 2">
                      <input class ="reponse" formControlName="choix3" type="text" placeholder="choix 3">
                    </div>
                    <div class="choiceContainer">
                      <input class ="choice" formControlName="isValid1" type="checkbox">
                      <input class ="choice" formControlName="isValid2" type="checkbox">
                      <input class ="choice" formControlName="isValid3" type="checkbox">
                    </div>
                  </div>
              </div>
            </div>
            <!-- <input id="btn_add" type="button" value="" (click) = "addItem()"> -->
          </div>
          <div id="addClassDiv">
            <button id="btnPlus" type="button" class="btn btn-default" (click)="addItem()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>
  		</form>

    </div>
  </div>
</div>
