<div class="container">
	<section id="content">
		<form #formInscription="ngForm" (ngSubmit) = "onSubmitInscription(formInscription)">
			<h1>Inscription</h1>
      <div class="group">
        <input [(ngModel)]="nom" name="nom" type="text" required>
        <span class="highlight"></span>
        <label>Nom</label>
      </div>
      <div class="group">
        <input [(ngModel)]="prenom" name="prenom" type="text" required>
        <span class="highlight"></span>
        <label>Prénom</label>
      </div>

      <div class="group">
        <input [(ngModel)]="identifiant" name="identifiant" type="text" required>
        <span class="highlight"></span>
        <label>Email</label>
      </div>
      <div class="group">
        <input [(ngModel)]="password" name="password" type="password" required>
        <span class="highlight"></span>
        <label>Mot de Passe</label>
      </div>
      <div class="group">
        <input [(ngModel)]="repassword" name="repassword" type="password" required>
        <span class="highlight"></span>
        <label>Confirmation du mot de Passe</label>
      </div>

			<div>
				<input type="submit" value="S'inscrire"/>
			</div>
		</form>

	</section>
</div>
