<li class="list-group-item">
    <h4>
        {{nom}} {{prenom}} 
    </h4>
    <button type="button" class="btn btn-default btn-lg" id='btnLeft' (click)="removeEleve(idClasse,idUser)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        Effacer
    </button>
</li>