<div id="body_content">

  <h1 id="idCatGest"> Liste des élèves de la classe</h1>
  <div class="container">
    <div class="container_cat">
      <div class="container_list">
        <div class="row">
          <div class="col-xs-12">
            <ul class="list-group">
              <app-eleve *ngFor="let eleve of elevesList" [nom]="eleve.nom" [prenom]="eleve.prenom" [idUser]="eleve.idUser" [idClasse]="idClasse"></app-eleve>
            </ul>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <ul class="list-group">
                <app-eleve2 *ngFor="let eleve of elevesList2" [nom]="eleve.nom" [prenom]="eleve.prenom" [idUser]="eleve.idUser" [idClasse]="idClasse"></app-eleve2>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>