#idCatGest{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }
  
  #body_content
  {
    background-color: #f8f8f8;
    margin:7%;
    margin-top: 3%;
    border-color: #d7d7d7;
    border:solid 1px;
    border-radius: 20px;
    height: 560.20px;
    width: 1306.53px;
  
  }
  
  #container_cat
  {
    text-align: center;
  
  
  }
  
 .row
  {
    text-align: center;
    width: 45%;
    height: 320px;
    overflow: scroll;
    overflow-x: hidden;
  }
  .btn{
    display: inline-block;
    text-decoration: none;
    color: rgba(152, 152, 152, 0.43);/*IconColor*/
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}
.btn .fa {
    line-height: 80px;
}
.btn:active {/*onClick*/
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}

.container_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}